<ul class="nav">
  <li><a href="#" id="toggle" data-transition="extra-pop"><h5><i class="ion-navicon-round"></i></h5></a></li>
  <li><a href="/"><h5>Fom.io</h5></a></li>
  <div class="u-pull-right">
    <li><img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg"></li>
  </div>
</ul>
