<!DOCTYPE html>
<html>
<head>
  <title>Fom.io</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  <script type="text/javascript">
    $(document).ready(function() {
      $(function() {
        var special = ['reveal', 'top', 'boring', 'perspective', 'extra-pop'];
        // Toggle Nav on Click
        $('a#toggle').click(function() {

          var transitionClass = $(this).data('transition');

          if ($.inArray(transitionClass, special) > -1) {
            $('body').removeClass();
            $('body').addClass(transitionClass);
          } else {
            $('body').removeClass();
            $('#site-canvas').removeClass();
            $('#site-canvas').addClass(transitionClass);
          }

          $('#site-wrapper').toggleClass('show-nav');
          return false;
        });
      });
    })
  </script>
</body>
</html>
